@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  background: hsl(218, 23%, 16%);
  display: flex;
  font-family: 'Manrope';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  background: hsl(217, 19%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 16px;
  width: 85vw;
}
#adviceid{
  color: hsl(150, 100%, 66%); 
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0;
}
#advice{
  width: 85vw;
  margin-top: 1rem;
  font-size: 1.75rem;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
}
button{
  background: hsl(150, 100%, 66%);
  border-radius: 100px;
  border: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  top: 3.25rem;
  transition: 0.5s;
}
button:hover{
  box-shadow: 0 0 20px 1px hsl(150, 100%, 66%);
}
#md{
  width: 85vw;
  max-width: 318px;
  height: 16px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
}
#dd{
  display: none;
  width: 30vw;
}

@media screen and (min-width: 1440px){
  .container{
    width: 30vw;
  }
  #advice{
    width: 28vw;
  }
  #md{
    display: none;
  }
  #dd{
    display: flex;
  }
}
